.tweet-panel {
  color: #333;
  font: 12px/1.42857;
  border: 1px solid;
  border-color: #ddd;
  margin-bottom: 20px;
}

.tweet-panel-body {
  padding: 15px;
}

.tweet-left {
  float: left;
  width: 55px;
}

.tweet-name {
  color: #292f33;
  display: inline;
  font-size: 16px;
  font-weight: bold;
}

.tweet-sname {
  color: #707070;
  display: inline-block;
  font-size: 14px;
  line-height: 18px;
  white-space: nowrap;
}

